.activity-page {
  & .activity-home-swipe {
    height: 100%;
  }
  & [w-375-210] {
    aspect-ratio: '375:210';
  }

  & .activity-search {
    padding: 20px 24px;
    & .van-cell {
      padding: 5px 10px;
    }
  }
  & .activity-home-menu {
    padding: 16px 8px;
    background: #fff;
    margin-bottom: 16px;
    & .a-menu-item {
      text-align: center;
    }
    & .a-item-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: 8px;
    }
    & .a-item-text {
      font-size: 14px;
    }
  }
  & .special-recommend-panel {
    & .van-panel__content {
      padding: 20px;
    }
  }
}
