.cart-page {
  padding: 20px;
  & .mod {
    margin: 10px;
  }
}

.card-goods {
  padding: 10px 0;
  background-color: #fff;

  & .card-goods__item {
    position: relative;
    background-color: #fafafa;

    & .van-checkbox__label {
      width: 100%;
      padding: 0 10px 0 15px;
      box-sizing: border-box;
    }

    & .van-checkbox__icon {
      top: 50%;
      left: 10px;
      z-index: 1;
      position: absolute;
      margin-top: -10px;
    }

    & .van-card__price {
      color: #f44;
    }
  }
}
